/* Style for Background */
.background {
    width: 1440px;
    height: 2230px;
}
/* Style for Layer 1 */
.layer {
    width: 160px;
    height: 77px;
    background-color: #314DA1;
}
/* Style for Rounded Rectangle 2 */
.rounded {
    width: 63px;
    height: 62px;
    background-color: #FFF;
    border: 1px solid #314DA1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy */
.rounded {
    width: 154.5px;
    height: 130px;
    background-color: #FFF;
    border: 0.89px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 55px;
    height: 38px;
    background-color: #314DA1;
}
/* Style for Rounded Rectangle 2 copy 2 */
.rounded {
    width: 232px;
    height: 269px;
    background-color: #FFF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 11 */
.rounded {
    width: 540px;
    height: 269px;
    background-color: #FFF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 15 */
.rounded {
    width: 168px;
    height: 269px;
    background-color: #FFF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 3 */
.rounded {
    width: 210px;
    height: 110px;
    background-color: #F1F1EF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 4 */
.rounded {
    width: 210px;
    height: 110px;
    background-color: #FFF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 8 */
.rounded {
    width: 210px;
    height: 110px;
    background-color: #F2F1EF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 8 */
.rounded {
    width: 210px;
    height: 110px;
    background-color: #F2F1EF;
    border: 0.89px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 5 */
.rounded {
    width: 154.5px;
    height: 130px;
    background-color: #FFF;
    border: 0.89px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 6 */
.rounded {
    width: 154.5px;
    height: 130px;
    background-color: #FFF;
    border: 0.89px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 7 */
.rounded {
    width: 154.5px;
    height: 130px;
    background-color: #FFF;
    border: 0.89px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 14 */
.rounded {
    width: 154.5px;
    height: 130px;
    background-color: #FFF;
    border: 0.89px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 14 */
.rounded {
    width: 154.5px;
    height: 130px;
    background-color: #FFF;
    border: 0.89px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 2 copy 10 */
.rounded {
    width: 216px;
    height: 45px;
    background-color: #314DA1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 32px;
    height: 27px;
    background-color: #314DA1;
}
/* Base style */
.textStyle- {
    font-family: "Roboto";
    font-size: 14px;
}
/* Style for "¦Ó¦¬¦-¦-¦-¦-TÏ       " */
.textStyle-0 {
    color: #313131;
    font-weight: 300;
}
/* Style for "¦Ð¦Ð¦í¦ß" */
.textStyle-1 {
    color: #324DA1;
    font-weight: 500;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 18px;
    height: 30px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 29px;
    height: 25px;
}
/* Style for Vector Smart Object copy 2 */
.vector-smart {
    width: 29px;
    height: 25px;
}
/* Style for "¦Ú¦-TÀTÂ¦- TÁ¦-¦¦TÂ¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "RSS ¦¬¦-¦+¦¬¦¬TÁ¦¦¦-" */
.textStyle-rss {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "¦Ò¦-¦¦TÂ¦¬ ¦- ¦¬¦¬TÇ¦-TË¦¦" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "¦Ü¦¦¦-TÎ" */
.textStyle- {
    color: #333;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
/* Style for "¦Þ¦-TÀ¦-TÂ¦-¦-TÏ TÁ¦-TÏ¦¬TÌ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "¦ÞTÄ¦¬TÆ¦¬¦-¦¬TÌ¦-TË¦¦ TÁ¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
}
/* Style for "¦á 2 TÄ¦¦¦-TÀ¦-¦¬TÏ ¦¬¦-" */
.textStyle-c {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦ÜTÍTÀ¦¬TÏ ¦¦¦-TÀ¦-¦+¦- ¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "¦Ò¦-¦- ¦-TÀ¦-¦-¦¬TÂTÁTÏ TÍ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Base style */
.textStyle-youtubecom {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
}
/* Style for "¦Ý¦-TÈ  ¦-TÄ¦¬TÆ¦¬¦-¦¬TÌ¦-" */
.textStyle-0 {
    font-weight: 300;
}
/* Style for "youtube.com" */
.textStyle-youtubecom {
    font-weight: 500;
}
/* Style for "¦Þ¦- ¦-TÅTÀ¦-¦-¦¦ ¦¬¦+¦-TÀ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
}
/* Style for "¦Ô¦-, ¦+¦¬¦¬¦-¦¦¦- TÅ¦-TÀ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
}
/* Base style */
.textStyle-aaepgov {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
}
/* Style for "¦Ý¦-TÈ  ¦-TÄ¦¬TÆ¦¬¦-¦¬TÌ¦-" */
.textStyle-0 {
    font-weight: 300;
}
/* Style for "@aaep_gov" */
.textStyle-aaepgov {
    font-weight: 500;
}
/* Base style */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
}
/* Style for "¦ÓTÀTÃ¦¬¦¬¦- ¦Ò¦Ú:
" */
.textStyle-0 {
    font-weight: 400;
}
/* Style for "vk.com/aael_ba" */
.textStyle-1 {
    font-weight: 500;
}
/* Style for "¦à¦-TÁ¦¬¦¬TÁ¦-¦-¦¬¦¦" */
.textStyle- {
    color: #324DA1;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
/* Style for "¦Ò¦¦TÁTÂ¦-¦¬¦¦ ¦Ð¦Ð¦í¦ß" */
.textStyle- {
    color: #1D1D1B;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
/* Style for "¦áTÀ¦¦¦+¦-¦¦, ¦+¦¬¦¬¦-¦¦¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
}
/* Style for "¦áTÀ¦¦¦+¦-¦¦, ¦+¦¬¦¬¦-¦¦¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
}
/* Style for "¦á¦-¦¦TÂ ¦-¦¦ ¦-TÂ¦-¦¦TÇ¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
}
/* Style for "¦Ð¦¬TÂ¦-¦¦TÁ¦¦¦-TÏ ¦-¦¦¦-¦+" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦Ð¦Ð¦í¦ß TÀ¦-TÁ¦¬¦-¦¬¦-¦¦¦-" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦ß¦-¦+TÀ¦-¦-¦-¦¦¦¦" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "2 TÄ¦¦¦-TÀ¦-¦¬TÏ 2015" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "¦Ý¦-¦-¦-¦¦ TÀ¦-TÁ¦¬¦-TÀTÏ¦¦" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦Ý¦-TÀ¦¬¦-¦¬TÂTÌ ¦+¦-¦¬¦-¦¬" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "¦á¦¦¦-TÀ¦- ¦-TÃ¦+¦¦¦- ¦¬TÀ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦Ý¦-TÀ¦¬¦-¦¬TÂTÌ ¦+¦-¦¬¦-¦¬" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "¦ß¦-¦+TÀ¦-¦-¦-¦¦¦¦" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "¦ÒTÁ¦¦ ¦-¦-¦-¦-TÁTÂ¦¬" */
.textStyle- {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "¦ÒTÁ¦¦ ¦-¦-¦-¦-TÁTË" */
.textStyle- {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "¦ÒTÁ ¦¦ TÄ¦-TÂ¦-¦¦TÀ¦-TÄ¦¬" */
.textStyle- {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "31 TÏ¦-¦-¦-TÀTÏ 2015" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "¦ß¦-¦+TÀ¦-¦-¦-¦¦¦¦" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "28 TÏ¦-¦-¦-TÀTÏ 2015" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "7 TÄ¦¦¦-TÀ¦-¦¬TÏ 2014" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦ß¦-¦+TÀ¦-¦-¦-¦¦¦¦" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "14 TÏ¦-¦-¦-TÀTÏ 2015" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
/* Style for "¦Ý¦-¦-¦-TÁTÂ¦¬" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}
/* Style for "¦Þ¦- ¦-¦¦¦-¦+¦¦¦-¦¬¦¬" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 29px;
    height: 22px;
}
/* Style for "¦Þ¦¬TÀ¦-TÁ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}
/* Style for "¦ä¦-TÂ¦-¦¦¦-¦¬¦¦TÀ¦¦TÏ" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}
/* Style for "¦à¦¦¦¦TÂ¦-TÀ" */
.textStyle- {
    color: #314DA1;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 50px;
    height: 38px;
    background-color: #314DA1;
}
/* Style for "¦×¦-¦-TÇ¦-¦-¦¦ ¦-TÂ¦+¦¦¦¬¦¦" */
.textStyle- {
    color: #314DA1;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}
/* Style for "¦æ¦¦¦-TÂTÀTË ¦+¦-¦¬¦-¦¬¦-¦¬" */
.textStyle- {
    color: #314DA1;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 43px;
    height: 45px;
    background-color: #314DA1;
}
/* Style for "¦Ý¦-TÃTÇ¦-TË¦¦ ¦¬ TÍ¦¦TÁ¦¬" */
.textStyle- {
    color: #314DA1;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 41px;
    height: 45px;
    background-color: #314DA1;
}
/* Style for "¦îTÀ¦¬¦+¦¬TÇ¦¦TÁ¦¦¦¬¦¦ TÄ¦-" */
.textStyle- {
    color: #314DA1;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}
/* Style for "¦ä¦-¦¦TÃ¦¬TÌTÂ¦¦TÂ ¦í¦ã¦Ò¦Ô" */
.textStyle- {
    color: #314DA1;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}
/* Style for "¦Ð¦¬TÂ¦-¦¦TÁ¦¦¦-TÏ ¦-¦¦¦-¦+" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}
/* Style for "(385) 224-48-0" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}
/* Style for Rounded Rectangle 1 */
.rounded {
    width: 170px;
    height: 25px;
    background-color: #FFF;
    border: 1px solid #D8D8D7;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 1 copy */
.rounded {
    width: 100px;
    height: 25px;
    background-color: #314DA1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for "¦Ý¦-¦¦TÂ¦¬" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
/* Style for "¦ß¦-¦¬TÁ¦¦ ..." */
.textStyle- {
    color: #969696;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for Layer 2 */
.layer {
    width: 11px;
    height: 17px;
}
/* Style for Layer 3 */
.layer {
    width: 518px;
    height: 291px;
}
/* Style for Ellipse 2 */
.ellipse {
    opacity: 0.25;
    width: 46px;
    height: 46px;
    background-color: #FFF;
}
/* Style for Rectangle 1 */
.rectangle {
    width: 482px;
    height: 291px;
    background-color: #314DA1;
}
/* Style for Rectangle 1 copy */
.rectangle {
    width: 1440px;
    height: 10px;
    background-color: #314DA1;
}
/* Style for Rectangle 1 copy 2 */
.rectangle {
    width: 1440px;
    height: 321px;
    background-color: #314DA1;
}
/* Style for "¦ÞTÂ¦¦TÀTËTÂTË¦¦ ¦+¦-¦¦TÀ¦¬" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
}
/* Style for "¦Ö¦+¦¦¦- ¦-¦-TÈ¦¬TÅ ¦-¦-¦¬" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 17px;
    height: 30px;
}
/* Style for "¦Þ¦-TÀ¦-TÂ¦-¦-TÏ TÁ¦-TÏ¦¬TÌ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
}
/* Style for "(385) 224-48-0" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
/* Style for Vector Smart Object copy 6 */
.vector-smart {
    width: 14px;
    height: 25px;
    background-color: #FFF;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 34px;
    height: 25px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 32px;
    height: 28px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 30px;
    height: 22px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 32px;
    height: 23px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 21px;
    height: 29px;
}
/* Style for Shape 1 */
.shape {
    width: 1000px;
    height: 1px;
    background-color: #314DA1;
}
/* Style for Shape 1 copy 2 */
.shape-copy {
    width: 1000px;
    height: 1px;
    background-color: #314DA1;
}
/* Style for Shape 1 copy */
.shape-copy {
    width: 1000px;
    height: 1px;
    background-color: #314DA1;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 15px;
    height: 15px;
    background-color: #D8D8D8;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 17px;
    height: 15px;
}
/* Style for Ellipse 1 */
.ellipse {
    width: 10px;
    height: 10px;
    background-color: #FFF;
}
/* Style for Ellipse 1 copy */
.ellipse-copy {
    width: 10px;
    height: 10px;
    background-color: #FFF;
}
/* Style for Ellipse 1 copy 2 */
.ellipse-copy {
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 15px;
    height: 27px;
    background-color: #FFF;
}
/* Style for Vector Smart Object copy */
.vector-smart {
    width: 15px;
    height: 27px;
    background-color: #FFF;
}
/* Style for Vector Smart Object1 */
.vector-smart {
    width: 26px;
    height: 20px;
}
/* Style for "¦Ð¦-¦-¦-TÁTË" */
.textStyle- {
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 25px;
    height: 14px;
}
/* Style for Layer 1 copy */
.layer-copy {
    width: 160px;
    height: 77px;
    background-color: #FFF;
}
/* Style for ¦à¦á¦â */
. {
    width: 60px;
    height: 46px;
    background-color: #FFF;
}
/* Style for Layer 9 */
.layer {
    width: 210px;
    height: 210px;
}
/* Style for Layer 5 */
.layer {
    width: 210px;
    height: 210px;
}
/* Style for Layer 6 */
.layer {
    width: 210px;
    height: 210px;
}
/* Style for Layer 7 */
.layer {
    width: 210px;
    height: 210px;
}
/* Style for Vector Smart Object copy 4 */
.vector-smart {
    width: 15px;
    height: 27px;
    background-color: #314DA1;
}
/* Style for Vector Smart Object copy 5 */
.vector-smart {
    width: 15px;
    height: 27px;
    background-color: #314DA1;
}
/* Style for Vector Smart Object copy 7 */
.vector-smart {
    width: 15px;
    height: 27px;
    background-color: #314DA1;
}
/* Style for Vector Smart Object copy 8 */
.vector-smart {
    width: 15px;
    height: 27px;
    background-color: #314DA1;
}
/* Style for Ellipse 3 */
.ellipse {
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 2px solid #7F7F7F;
}
/* Style for Ellipse 3 copy 4 */
.ellipse-copy {
    width: 8px;
    height: 8px;
    background-color: #314DA1;
}
/* Style for Ellipse 3 copy */
.ellipse-copy {
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 2px solid #7F7F7F;
}
/* Style for Ellipse 3 copy 2 */
.ellipse-copy {
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 2px solid #7F7F7F;
}
/* Style for Ellipse 3 copy 3 */
.ellipse-copy {
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 2px solid #7F7F7F;
}
/* Style for Layer 11 */
.layer {
    width: 93px;
    height: 37px;
}
/* Style for Layer 12 */
.layer {
    width: 55px;
    height: 55px;
}
/* Style for Layer 14 */
.layer {
    width: 40px;
    height: 40px;
    background-color: #D02027;
}
/* Style for Layer 15 */
.layer {
    width: 200px;
    height: 100px;
}
/* Style for Rectangle 2 */
.rectangle {
    width: 133px;
    height: 267px;
    background-image: -moz-linear-gradient(right, #FFF 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(right, #FFF 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(right, #FFF 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}
/* Base style */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
}
/* Style for "¦áTÂTÀTÃ¦¦TÂTÃTÀ¦- ¦Ð¦Ð¦í¦ß" */
.textStyle-0 {
    font-weight: 500;
}
/* Style for "
¦à¦¦¦¦TÂ¦-TÀ¦-TÂ
¦ãTÇ¦¦¦-" */
.textStyle-1 {
    font-weight: 400;
}
/* Style for "(¦¬TÀ¦-TÄ. ¦-TÀ¦¬¦¦¦-TÂ¦-" */
.textStyle-2 {
    font-style: italic;
}
/* Style for "¦ÞTÄ¦¬TÆ¦¬¦-¦¬TÌ¦-TË¦¦ TÁ¦-" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
}
/* Style for "656038, ¦à¦-TÁTÁ¦¬TÏ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
}
/* Style for "(c) ¦Ð¦Ð¦í¦ß, 2015" */
.textStyle-c {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
}
/* Style for "¦ÒTÁ¦¦ ¦¬TÀ¦-¦-¦- ¦¬¦-TÉ¦¬" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
}
/* Style for Rounded Rectangle 2 copy 9 */
.rounded {
    width: 355px;
    height: 30px;
    border: 0.89px dashed #FFF;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for "¦Ú¦-¦¬¦¬TÀ¦-¦-¦-¦-¦¬¦¦ TÁ¦-" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
}
/* Base style */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
}
/* Style for "¦ÞTÂ¦+¦¦¦¬ ¦-¦-TÃ¦¦¦¬ ¦¬ " */
.textStyle-0 {
    font-weight: 500;
}
/* Style for "¦Þ¦-TÃTÇ¦¦¦-¦¬¦¦
¦ß¦-TÀTÂ¦-" */
.textStyle-1 {
    font-weight: 400;
}
/* Base style */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
}
/* Style for "¦âTÀTÃ¦+¦-TÃTÁTÂTÀ¦-¦¦TÁTÂ¦-" */
.textStyle-0 {
    font-weight: 500;
}
/* Style for "¦æ¦¦¦-TÂTÀTË ¦Ð¦Ð¦í¦ß
¦Ð¦Ø" */
.textStyle-1 {
    font-weight: 400;
}
/* Base style */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
}
/* Style for "¦Ò¦-TÃTÂTÀ¦¦¦-¦-¦¬¦¦ TÀ¦¦TÁ" */
.textStyle-0 {
    font-weight: 500;
}
/* Style for "¦á¦Ü¦Ú
¦Ü¦¦TÂ¦-¦+¦¬TÇ¦¦TÁ¦¦" */
.textStyle-1 {
    font-weight: 400;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 32px;
    height: 23px;
}
/* Style for Layer 16 */
.layer {
    width: 17px;
    height: 17px;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 17px;
    height: 20px;
    background-color: #FFF;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 42px;
    height: 40px;
    background-color: #314DA1;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 43px;
    height: 40px;
    background-color: #314DA1;
}
/* Style for Layer 18 */
.layer {
    width: 127px;
    height: 32px;
}
/* Style for Layer 19 */
.layer {
    width: 25px;
    height: 25px;
}
/* Style for Layer 20 */
.layer {
    width: 121px;
    height: 29px;
}
/* Style for Layer 21 */
.layer {
    width: 30px;
    height: 28px;
    background-color: #314DA1;
}
/* Style for Vector Smart Object */
.vector-smart {
    width: 47px;
    height: 43px;
}
/* Style for Rectangle 3 */
.rectangle {
    width: 25px;
    height: 3px;
    background-color: #314DA1;
}
/* Style for Rectangle 3 copy */
.rectangle {
    width: 25px;
    height: 3px;
    background-color: #314DA1;
}
/* Style for Rectangle 3 copy 2 */
.rectangle {
    width: 25px;
    height: 3px;
    background-color: #314DA1;
}
/* Style for Rectangle 4 */
.rectangle {
    width: 216px;
    height: 238.09375px;
    background-color: #203881;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 1 copy 12 */
.rounded {
    width: 140px;
    height: 36px;
    background-color: #314DA1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Style for "¦Ò¦-¦¦TÂ¦¬" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
/* Style for Rectangle 3 */
.rectangle {
    width: 169px;
    height: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
}
/* Style for Rectangle 3 copy */
.rectangle {
    width: 169px;
    height: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
}
/* Style for "¦Ð¦-TÂ¦-TÀ¦¬¦¬TÃ¦¦TÂ¦¦TÁTÌ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
/* Style for "¦à¦¦¦¦¦¬TÁTÂTÀ¦-TÆ¦¬TÏ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}
/* Style for "¦×¦-¦-TË¦¬¦¬ ¦¬¦-TÀ¦-¦¬TÌ?" */
.textStyle-copy {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}
/* Style for Shape 6 */
.shape {
    opacity: 0.1;
    width: 190px;
    height: 1px;
    background-color: #FFF;
}
/* Style for "E-mail" */
.textStyle-email {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for "¦ß¦-TÀ¦-¦¬TÌ" */
.textStyle- {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for Rectangle 4 */
.rectangle {
    width: 216px;
    height: 147.09375px;
    background-color: #203881;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for Rounded Rectangle 1 copy 12 */
.rounded {
    width: 140px;
    height: 36px;
    background-color: #314DA1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Style for "¦ÞTÂ¦¬TÀ¦-¦-¦¬TÂTÌ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
/* Style for Rectangle 3 */
.rectangle {
    width: 169px;
    height: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
}
/* Style for "¦Ò¦-TÁTÁTÂ¦-¦-¦-¦-¦¬¦¦¦-¦¬¦¦" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
/* Style for Shape 6 */
.shape {
    opacity: 0.1;
    width: 190px;
    height: 1px;
    background-color: #FFF;
}
/* Style for "E-mail" */
.textStyle-email {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for "¦ß¦-TÀ¦-¦¬TÌ" */
.textStyle- {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for "E-mail" */
.textStyle-email {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for Shape 6 */
.shape {
    opacity: 0.1;
    width: 190px;
    height: 1px;
    background-color: #FFF;
}
/* Style for "¦×¦-¦-TË¦¬¦¬ ¦¬¦-TÀ¦-¦¬TÌ?" */
.textStyle-copy {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}
/* Style for "¦à¦¦¦¦¦¬TÁTÂTÀ¦-TÆ¦¬TÏ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}
/* Style for "¦Ð¦-TÂ¦-TÀ¦¬¦¬TÃ¦¦TÂ¦¦TÁTÌ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
/* Style for Rectangle 3 copy */
.rectangle {
    width: 169px;
    height: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
}
/* Style for Rectangle 3 */
.rectangle {
    width: 169px;
    height: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
}
/* Style for "¦Ò¦-¦¦TÂ¦¬" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
/* Style for Rounded Rectangle 1 copy 12 */
.rounded {
    width: 140px;
    height: 36px;
    background-color: #314DA1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Style for Rectangle 4 */
.rectangle {
    width: 216px;
    height: 238.09375px;
    background-color: #203881;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Style for "E-mail" */
.textStyle-email {
    color: #666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* Style for Shape 6 */
.shape {
    opacity: 0.1;
    width: 190px;
    height: 1px;
    background-color: #FFF;
}
/* Style for "¦Ò¦-TÁTÁTÂ¦-¦-¦-¦-¦¬¦¦¦-¦¬¦¦" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
}
/* Style for Rectangle 3 */
.rectangle {
    width: 169px;
    height: 25px;
    background-color: #FFF;
    -moz-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 0.5px 0.9px 1px rgba(33, 55, 129, 0.75);
}
/* Style for "¦ÞTÂ¦¬TÀ¦-¦-¦¬TÂTÌ" */
.textStyle- {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
/* Style for Rounded Rectangle 1 copy 12 */
.rounded {
    width: 140px;
    height: 36px;
    background-color: #314DA1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Style for Rectangle 4 */
.rectangle {
    width: 216px;
    height: 147.09375px;
    background-color: #203881;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}