/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	min-width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
a
{
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}
p, span, a, div
{
	color: #323232;
}

/*ШРИФТЫ*/
p, span, a, div, input
{
	font-family: 'Roboto Light', arial;
}
/*------*/


/*кнопки*/
.btn_blue
{
	padding: 5px 30px;
    background-color: #314DA1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    border: none;
}
/*------*/
/* Header
-----------------------------------------------------------------------------*/
#top_header
{
display: inline-block;
  width: 100%;
}

#bottom_header
{
	display: inline-block;
  width: 100%;
}


.top_rectangle {
    width: 100%;
    height: 10px;
    background-color: #314DA1;
}

.header {
	height: 215px;
}

#logo {
  width: 180px;
  float: left;
  text-align: center;
  margin: 45px 0 0 0;
}

#top_name {
  width: 250px;
  float: left;
  margin: 45px 0 0 30px;
  color: #666;
  position: relative;
}

#top_name p
{
	font-size: 14px;
	margin: 0 0 5px 0;
}

#top_name span
{
	font-size: 22px;
	line-height: 1.2;
}

#top_phone
{
	  float: left;
  margin: 70px 0 0 20px;
    text-align: left;
  width: 210px;
}

#top_phone .tp_phone
{
font-size: 23px;
}

#top_phone .zvonok
{
font-size: 14px;
  margin: 0px 0px 0 30px;
}

#top_phone .tp_phone:before
{
	content: "";
	width: 17px;
	height: 30px;
	background: url(images/icon1.png);
	display: inline-block;
	  vertical-align: middle;
  margin-right: 10px;
}

#top_search
{
	float: right;
  margin: 70px 0 0 0;
  text-align: right;
  width: 300px;
}

#top_search .search input[type="text"]
{
	    width: 150px;
    background-color: #FFF;
    border: 1px solid #D8D8D7;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #969696;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    padding: 5px 10px;
    margin-right: 10px;
} 

#top_search .top_map
{
float: left;
margin-top: 10px;
margin-left: 20px;
}

#top_search .top_map a:before
{
	content: "";
	width: 17px;
	height: 15px;
	background: url(images/icon2.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#top_search .top_rss
{
	float: right;
	margin-top: 10px;
}

#top_search .top_rss a:after
{
	content: "";
	width: 17px;
	height: 17px;
	background: url(images/icon3.png);
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.menu_btn
{
	color: #333;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
     display: inline-block;
       margin: 30px 0 0 0;
}

.menu_btn a
{
	text-decoration: none;
}

.menu_btn a:before
{
	content: "";
	width: 25px;
	height: 19px;
	background: url(images/icon4.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#menu_top
{
  width: 90%;
  display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#menu_top div
{
   display: inline-block;
}

#menu_top ul li
{
	float: left;
	margin: 0 5px;
	text-align: center;
	border: 1px solid #fff;
}

#menu_top ul li img
{
	  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
 /* filter: url(grayscale.svg); *//* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

#menu_top ul li a
{
text-decoration: none;
display: inline-block;
  padding: 5px;
}

#menu_top ul li:hover
{
    background-color: #FFF;
    border: 1px solid #314DA1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#menu_top ul li:hover > a img
{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

#menu_top ul li:hover > a
{
	color: #324DA1;
	/*font-weight: bold;*/	
}
#login
{
position: relative;
}
.cont_login
{
	width: 100%;
}
.cont_login .login_inner
{
	width: 1000px;
	margin: auto;
	position: relative;
}
#login a.in_kab
{
color: #fff;
font-size: 14px;
	    background-color: #314DA1;
	    display: inline-block;
	    padding: 10px 15px;
	      position: absolute;
  right: 0;
    border-bottom: 10px solid #fff;
}

#login a.in_kab:before
{
	content: "";
width: 17px;
height: 20px;
display: inline-block;
background: url(images/icon10.png);
margin-right: 10px;
vertical-align: middle;
}

#login .login_form
{
	display: none;
	position: absolute;
	text-align: center;
	    width: 185px;
    height: 210px;
    background-color: #203881;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    right: 0;
    margin: 50px 0 0 0;
    padding: 15px;
    z-index: 100;
}

.login_form:before
{
content: "";
  display: inline-block;
  width: 0px;
  height: 10px;
  border-left: 10px solid rgba(113, 101, 58, 0);
  border-right: 10px solid rgba(113, 101, 58, 0);
  border-bottom: 10px solid #203881;
  position: absolute;
  left: 46%;
  top: -18px;
}

#login:hover >.login_form
{
	display: inline-block;
}

.h2_lg
{
	color: #fff;
	    font-size: 18px;
}

.login_form .w_line
{
	    opacity: 0.1;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    margin: 10px 0;
}

.login_form input[type="text"]
{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
	padding: 5px;
	margin-bottom: 10px; 
	text-align: center;
	border: none;
	    background-color: #FFF;
    -moz-box-shadow: 1px 1px 1px rgba(33, 55, 129, 0.75);
    -webkit-box-shadow: 1px 1px 1px rgba(33, 55, 129, 0.75);
    box-shadow: 1px 1px 1px rgba(33, 55, 129, 0.75);
}

.login_form .rem_reg a
{
	color: #fff;
}
.login_form .rem_reg
{
	margin: 10px 0;
}

.login_form input[type="submit"]
{
	    background-color: #314DA1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 10px 50px;
    border: none;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 320px;
}

#main_news
{
margin: 25px 0;
display: inline-block;
width: 100%;
}

#main_news .top_news_block
{
display: inline-block;	
width: 100%;
margin: 0 0 20px 0;
}

#main_news .top_news_block .h1_main_block
{
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}

#main_news .top_news_block span.news:before
{
content: "";
width: 26px;
height: 20px;
display: inline-block;
background: url(images/icon5.png);
margin-right: 10px;
vertical-align: middle;
}

#main_news .top_news_block span.anonses:before
{
content: "";
width: 25px;
height: 14px;
display: inline-block;
background: url(images/icon6.png);
margin-right: 10px;
vertical-align: middle;
}

#main_news .top_news_block .anonses
{
	margin: 0 30px;
}

#main_news .left_news_block
{
	float: left;
}

#main_news .right_news_block
{
	float: right;
}

.bottom_news_block ul li
{
	width: 225px;
	float: left;
	margin-right: 30px;
}

.bottom_news_block ul li:last-child
{
	margin: 0;
}

.bottom_news_block p
{
	padding-bottom: 10px;
}

.bottom_news_block p.date
{
	    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}

.bottom_news_block .h2_news
{
	    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

.bottom_news_block .txt
{

	    color: #313131;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}

.shape {
	display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #314DA1;
}



#main_photo
{
margin: 25px 0;
display: inline-block;
width: 100%;
}

#main_photo .top_photo_block
{
display: inline-block;	
width: 100%;
margin: 0 0 20px 0;
}

#main_photo .top_photo_block .h1_main_block
{
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}

#main_photo .top_photo_block span.photo:before
{
content: "";
width: 32px;
height: 23px;
display: inline-block;
background: url(images/icon7.png);
margin-right: 10px;
vertical-align: middle;
}

#main_photo .left_photo_block
{
	float: left;
}

#main_photo .right_photo_block
{
	float: right;
}
.owl-nav
{
  position: absolute;
  top: 50%;
  width: 100%;	
}

.owl-prev
{
	position: relative;
  display: inline-block;
}

.owl-next
{
	  float: right;
}

.owl-carousel .owl-stage-outer
{
	  padding-left: 20px;
}

.bottom_photo_block
{
	display: inline-block;
	width: 100%;
	margin: 0 0 30px 0;
}


#main_about
{
margin: 25px 0;
display: inline-block;
width: 100%;
}

#main_about .top_about_block
{
display: inline-block;	
width: 100%;
margin: 0 0 20px 0;
}

#main_about .top_about_block .h1_main_block
{
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}

#main_about .top_about_block span.about:before
{
content: "";
width: 32px;
height: 23px;
display: inline-block;
background: url(images/m1.png);
margin-right: 10px;
vertical-align: middle;
}

#middle_menu
{
	display: inline-block;
	width: 100%;
	margin-bottom: 30px; 
}

#middle_menu ul li
{
	float: left;
	margin-right: 10px;
	  padding: 12px 24px;
    background-color: #FFF;
    border: 1px dashed #CDCDCD;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#middle_menu ul li a
{
	display: table-cell;
  vertical-align: middle;
	width: 105px;
  height: 105px;
    text-align: center;
        color: #314DA1;
        text-decoration: none;
            font-weight: bold;
            font-size: 14px;
}

#middle_menu ul li:last-child
{
	margin-right: 0;
}

#middle_menu ul li b
{
	font-size: 20px;
}

.about_txt {
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
    column-width: 400px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    vertical-align: top;
      display: inline-block;
          color: #313131;
          width: 100%;

   }

   .about_txt p
   {
   	margin-bottom: 10px; 
   }


   #main_bottom .h1_main_block
{
    color: #313131;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
}
#main_bottom
{
	margin: 30px 0; 
	text-align: center;
}
#main_bottom span.opros_h:before
{
content: "";
width: 29px;
height: 22px;
display: inline-block;
background: url(images/icon8.png);
margin-right: 10px;
vertical-align: middle;
}

#main_bottom p.qws
{
margin: 10px 0;	
}

#main_bottom .opros
{
    padding: 20px;
    width: 190px;
    background-color: #FFF;
    border: 1px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
      min-height: 230px;
        vertical-align: top;
}

#main_bottom .opros label
{
display: inline-block;
  width: 160px;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 10px;
      color: #313131;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
      line-height: 1;
      cursor: pointer;
      text-align: left;

}

.banners
{
  width: 515px;
    padding: 20px;
  background-color: #FFF;
  border: 1px dashed #949494;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  min-height: 230px;
    max-height: 232px;
    vertical-align: top;
    margin: 0 15px;
}

#owl-demo .owl-item > div img {
    display: block;
    width: 150px;
    height: 90px;
    margin-bottom:10px;
    padding: 10px 30px;
        background-color: #F1F1EF;
    border: 1px dashed #949494;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

}
#owl-demo .owl-item > div {
    padding: 0px 2px
}

#owl-demo .owl-stage-outer
{
	  padding-left: 33px;
}

#owl-demo .owl-item
{
	width: 240px !important;
}

#owl-demo .owl-prev
{
	float: left;
}

#main_bottom .links
{
	  padding: 20px;
  background-color: #FFF;
  border: 1px dashed #949494;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  min-height: 230px;
  vertical-align: top;
}

#main_bottom .links img
{
	width: 125px;
}

#main_bottom .links ul li
{
	margin-bottom: 10px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -320px auto 0;
	width: 100%;
	height: 320px;
	    background-color: #314DA1;
	position: relative;
}

#footer .wrapper
{
	color: #fff;

}

.footer_block
{
	padding-top: 20px;
	
}

#footer .layout-column p, #footer .layout-column a, #footer .layout-column div,
#footer .layout-column span
{
color: #fff;
}

#footer .footer_top_block .layout-column
{
	width: 250px;
	  display: table-cell;
	  margin: 0 0px 0 10px; 
	  padding: 0 0px 0 50px;
  vertical-align: top;
}

#footer .footer_top_block .first_column
{
	width: 175px;
	padding: 0;
}

#footer p
{
	margin: 0 0 10px 0;
	font-size: 12px;
	line-height: 1.3;
}

#footer .tel_w span
{
  font-size: 18px;
}


#footer .tel_w span:before {
  content: "";
  width: 14px;
  height: 25px;
  background: url(images/icon9.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#footer .tel_w a
{
	margin-left: 25px;
}

#footer .logo_w
{
	margin-bottom: 15px; 
}

#footer .footer_top_block .layout-column a
{
	font-size: 12px;
	text-decoration: none;
}

#footer .footer_top_block .layout-column a:hover
{
	text-decoration: underline;
}

#footer .footer_top_block .layout-column li
{
	line-height: 1.1;
}

.layout-column .h3_fmenu
{
	padding-bottom: 10px;
	display: inline-block;
	font-size: 12px;
}

#footer .rst
{
	display: table-cell;
}

.footer_bottom_block
{
	  margin-left: 218px;
}

.footer_bottom_block .copyright p
{
color: #fff;
display: inline-block;
}

.do_not_copy
{
	display: inline-block;
	color: #fff;
	font-size: 12px;	
	    border: 1px dashed #FFF;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding:5px 10px;
}

#footer .right_align_block
{
	  display: inline-block;
  width: 500px;
  text-align: right;
}

